*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

.container{
    max-width: 1170px;
    margin: auto;
    width: 80%;
}

h1{
    text-align: center;
    color: #e53170;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.subtitle{
    text-align: center;
    padding-bottom: 1.5rem;
}

.col{
    background-color: #0f0e17;
    color: white;
    float: left;
    width: 370px;
    margin: 10px;
    
    
}
img{
    max-width: 100%;
    height: 100px;
    float: left;
}

.card_content {
 
}

.card_content h4, .card_content p{
    padding-top: 0.6rem;
    padding-left: 7rem;   
}

.email{
    color: #339ed0;
}